/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fff;
    margin-bottom: 15px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    flex-grow: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container label {
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #555;
}
html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
